body { 
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    min-height: 100vh; 
    margin: 0;
    padding: 0;
}

.header {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    padding: 0 10em;
}

#buttons {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    padding: 16px 10em;
}

footer {
    display:flex;
    background-color: #1F2937;
    color: white;
    align-items: center;
    justify-content: center;
    padding: 16px;
    margin: 0;
}

footer p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.container {
    margin: 32px auto;
    background-color: white;
    /* for testing purposes
    border: 1px solid black; 
    */
    
    /* default dimensions */
    height: 640px;
    width: 640px;

    display: grid;
    /* defined by JavaScript instead
    grid-template-columns: repeat(16, 40px);
    grid-template-rows: repeat(16, 40px); 
    */
    gap: 0;
}

.square{ 
    box-sizing: border-box;
    /* defined by JavaScript instead
    width: 40px;
    height: 40px; 
    */
    background-color: black;
}

.square:hover{ 
    box-sizing: border-box;
    background-color: blue;
}

.hovered {
    background-color: blue;
}